# configuration after validation:
file-defaults:
  dir: {{ cockroachdb_logs_dir }}
  max-file-size: 10MiB
  max-group-size: 100MiB
  file-permissions: "0644"
  buffered-writes: true
  filter: INFO
  format: crdb-v2
  redact: false
  redactable: true
  exit-on-error: true
  auditable: false
  buffering: NONE
fluent-defaults:
  filter: INFO
  format: json-fluent-compact
  redact: false
  redactable: true
  exit-on-error: false
  auditable: false
  buffering:
    max-staleness: 5s
    flush-trigger-size: 1.0MiB
    max-buffer-size: 50MiB
http-defaults:
  method: POST
  unsafe-tls: false
  timeout: 0s
  disable-keep-alives: false
  filter: INFO
  format: json-compact
  redact: false
  redactable: true
  exit-on-error: false
  auditable: false
  buffering:
    max-staleness: 5s
    flush-trigger-size: 1.0MiB
    max-buffer-size: 50MiB
sinks:
  file-groups:
    default:
      channels: {INFO: [DEV, OPS], WARNING: [HEALTH, STORAGE, SESSIONS, SQL_SCHEMA,
          USER_ADMIN, PRIVILEGES, SENSITIVE_ACCESS, SQL_EXEC, SQL_PERF, SQL_INTERNAL_PERF,
          TELEMETRY, KV_DISTRIBUTION]}
      dir: {{ cockroachdb_logs_dir }}
      max-file-size: 10MiB
      max-group-size: 100MiB
      file-permissions: "0644"
      buffered-writes: true
      filter: INFO
      format: crdb-v2
      redact: false
      redactable: true
      exit-on-error: true
      buffering: NONE
    health:
      channels: {INFO: [HEALTH]}
      dir: {{ cockroachdb_logs_dir }}
      max-file-size: 10MiB
      max-group-size: 100MiB
      file-permissions: "0644"
      buffered-writes: true
      filter: INFO
      format: crdb-v2
      redact: false
      redactable: true
      exit-on-error: true
      buffering: NONE
    kv-distribution:
      channels: {INFO: [KV_DISTRIBUTION]}
      dir: {{ cockroachdb_logs_dir }}
      max-file-size: 10MiB
      max-group-size: 100MiB
      file-permissions: "0644"
      buffered-writes: true
      filter: INFO
      format: crdb-v2
      redact: false
      redactable: true
      exit-on-error: true
      buffering: NONE
    pebble:
      channels: {INFO: [STORAGE]}
      dir: {{ cockroachdb_logs_dir }}
      max-file-size: 10MiB
      max-group-size: 100MiB
      file-permissions: "0644"
      buffered-writes: true
      filter: INFO
      format: crdb-v2
      redact: false
      redactable: true
      exit-on-error: true
      buffering: NONE
    security:
      channels: {INFO: [USER_ADMIN, PRIVILEGES]}
      dir: {{ cockroachdb_logs_dir }}
      max-file-size: 10MiB
      max-group-size: 100MiB
      file-permissions: "0644"
      buffered-writes: false
      filter: INFO
      format: crdb-v2
      redact: false
      redactable: true
      exit-on-error: true
      buffering: NONE
    sql-audit:
      channels: {INFO: [SENSITIVE_ACCESS]}
      dir: {{ cockroachdb_logs_dir }}
      max-file-size: 10MiB
      max-group-size: 100MiB
      file-permissions: "0644"
      buffered-writes: false
      filter: INFO
      format: crdb-v2
      redact: false
      redactable: true
      exit-on-error: true
      buffering: NONE
    sql-auth:
      channels: {INFO: [SESSIONS]}
      dir: {{ cockroachdb_logs_dir }}
      max-file-size: 10MiB
      max-group-size: 100MiB
      file-permissions: "0644"
      buffered-writes: false
      filter: INFO
      format: crdb-v2
      redact: false
      redactable: true
      exit-on-error: true
      buffering: NONE
    sql-exec:
      channels: {INFO: [SQL_EXEC]}
      dir: {{ cockroachdb_logs_dir }}
      max-file-size: 10MiB
      max-group-size: 100MiB
      file-permissions: "0644"
      buffered-writes: true
      filter: INFO
      format: crdb-v2
      redact: false
      redactable: true
      exit-on-error: true
      buffering: NONE
    sql-schema:
      channels: {INFO: [SQL_SCHEMA]}
      dir: {{ cockroachdb_logs_dir }}
      max-file-size: 10MiB
      max-group-size: 100MiB
      file-permissions: "0644"
      buffered-writes: true
      filter: INFO
      format: crdb-v2
      redact: false
      redactable: true
      exit-on-error: true
      buffering: NONE
    sql-slow:
      channels: {INFO: [SQL_PERF]}
      dir: {{ cockroachdb_logs_dir }}
      max-file-size: 10MiB
      max-group-size: 100MiB
      file-permissions: "0644"
      buffered-writes: true
      filter: INFO
      format: crdb-v2
      redact: false
      redactable: true
      exit-on-error: true
      buffering: NONE
    sql-slow-internal-only:
      channels: {INFO: [SQL_INTERNAL_PERF]}
      dir: {{ cockroachdb_logs_dir }}
      max-file-size: 10MiB
      max-group-size: 100MiB
      file-permissions: "0644"
      buffered-writes: true
      filter: INFO
      format: crdb-v2
      redact: false
      redactable: true
      exit-on-error: true
      buffering: NONE
    telemetry:
      channels: {INFO: [TELEMETRY]}
      dir: {{ cockroachdb_logs_dir }}
      max-file-size: 100KiB
      max-group-size: 1.0MiB
      file-permissions: "0644"
      buffered-writes: true
      filter: INFO
      format: crdb-v2
      redact: false
      redactable: true
      exit-on-error: true
      buffering: NONE
  stderr:
    filter: NONE
    format: crdb-v2-tty
    redact: false
    redactable: true
    exit-on-error: true
    buffering: NONE
capture-stray-errors:
  enable: true
  dir: {{ cockroachdb_logs_dir }}
  max-group-size: 100MiB
